<div>
  <div>
    <carousel id="myCarousel" interval="currInterval" no-wrap="noWrapSlides" class="flip">
      <slide ng-repeat="slide in slides" active="slide.active" >
        <img draggable="false" ng-src="{{slide.url}}" style="margin:auto;" ng-swipe-right="showPrev()" ng-swipe-left="showNext()"  >
        
        <div class="carousel-caption">
          <!--<h4>Slide {{$index}}</h4>-->
          <h4>{{slide.title}}</h4>
          <p>{{slide.desc}}</p>
        </div>
      </slide>
    </carousel>
  </div>
  <div>
    <div class="col-md-6">
      <div class="checkbox">
          <button type="button" class="btn btn-custom" ng-model="currInterval"  ng-click="tooglePlay()">
            {{toogleLabel}}
          </button>
      </div>
    </div>
  </div>
<div>
