@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNovaT/Regular/ProximaNovaS-Regular.eot");
  src: url("../fonts/ProximaNovaT/Regular/ProximaNovaS-Regular.woff2") format("woff2"), url("../fonts/ProximaNovaT/Regular/ProximaNovaS-Regular.woff") format("woff"), url("../fonts/ProximaNovaT/Regular/ProximaNovaS-Regular.ttf") format("truetype"), url("../fonts/ProximaNovaT/Regular/ProximaNovaS-Regular.svg") format("svg"); }
@font-face {
  font-family: "ProximaNovaThin";
  src: url("../fonts/ProximaNovaT/Thin/ProximaNovaT-Thin.eot");
  src: url("../fonts/ProximaNovaT/Thin/ProximaNovaT-Thin.woff2") format("woff2"), url("../fonts/ProximaNovaT/Thin/ProximaNovaT-Thin.woff") format("woff"), url("../fonts/ProximaNovaT/Thin/ProximaNovaT-Thin.ttf") format("truetype"), url("../fonts/ProximaNovaT/Thin/ProximaNovaT-Thin.svg") format("svg"); }
@font-face {
  font-family: "ProximaNovaThinLight";
  src: url("../fonts/ProximaNovaT/ThinItalic/ProximaNova-ThinIt.eot");
  src: url("../fonts/ProximaNovaT/ThinItalic/ProximaNova-ThinIt.woff2") format("woff2"), url("../fonts/ProximaNovaT/ThinItalic/ProximaNova-ThinIt.woff") format("woff"), url("../fonts/ProximaNovaT/ThinItalic/ProximaNova-ThinIt.ttf") format("truetype"), url("../fonts/ProximaNovaT/ThinItalic/ProximaNova-ThinIt.svg") format("svg"); }
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

* {
  font-family: 'ProximaNovaThin', Fallback, Arial; }

h1 {
  font-family: 'ProximaNovaThin', Fallback, Arial;
  text-align: center;
  padding: 10px;
  font-size: 40px;
  color: #222; }

h2 {
  font-family: 'ProximaNovaThin', Fallback, Arial;
  font-size: 50px;
  color: #222;
  font-weight: normal; }

h3 {
  font-family: 'ProximaNovaThin', Fallback, Arial;
  font-size: 35px;
  color: #72893D;
  font-weight: normal; }

.row {
  background-color: #F3F4F5; }

.btn-custom {
  background-color: #72893D;
  border-color: #72893D;
  color: #FFFFFF;
  outline: none;
  box-shadow: none; }

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #637735;
  border-color: #55662d;
  color: #FFFFFF;
  outline: none;
  box-shadow: none; }

.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #72893D;
  border-color: #72893D;
  color: #FFFFFF;
  outline: none;
  box-shadow: none; }

.nav-tabs li {
  color: #72893D; }
.nav-tabs li.active > a,
.nav-tabs li.active > a:hover,
.nav-tabs li.active > a:focus {
  background-color: #F3F4F5;
  color: #72893D; }

.carousel.flip {
  opacity: 1;
  perspective: 800px; }
  .carousel.flip .item {
    perspective-origin: center center;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    transition: transform 0.3s;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    position: absolute;
    opacity: 1; }
  .carousel.flip .item:first-child {
    top: auto;
    position: relative; }
  .carousel.flip .item.active {
    transform-style: preserve-3d;
    perspective-origin: center center;
    transform: rotateY(0deg);
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    transition: transform 0.3s;
    backface-visibility: hidden;
    opacity: 1; }
  .carousel.flip .carousel-control .left,
  .carousel.flip .carousel-control .right {
    background: none;
    color: #FF0000;
    border: none; }
  .carousel.flip .carousel-control .left {
    margin-left: -45px;
    color: #0; }
  .carousel.flip .carousel-control .right {
    margin-right: -45px;
    color: #0; }
  .carousel.flip .carousel-control .glyphicon-chevron-right {
    color: #72893D; }
  .carousel.flip .carousel-control .glyphicon-chevron-left {
    color: #72893D; }
  .carousel.flip .carousel-caption h4 {
    color: #72893D;
    font-family: 'ProximaNovaRegular', Fallback, Arial;
    font-size: 22px; }
  .carousel.flip .carousel-caption p {
    color: #72893D;
    font-family: 'ProximaNovaRegular', Fallback, Arial;
    font-size: 16px; }
  .carousel.flip .carousel-indicators {
    display: inline-block; }
    .carousel.flip .carousel-indicators .active {
      background-color: #72893D;
      height: 22px;
      margin: 0;
      width: 22px; }
    .carousel.flip .carousel-indicators li {
      background-color: #000 \9;
      background-color: transparent;
      border: 1px solid #72893D;
      border-radius: 10px;
      cursor: pointer;
      display: inline-block;
      height: 20px;
      margin: 1px;
      padding: 5;
      text-indent: -999px;
      width: 20px; }

/*# sourceMappingURL=app.css.map */
