.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.carousel.flip {
opacity: 1;
perspective: 800px;
}
.carousel.flip .item {

    perspective-origin: center center;
    transform-style: preserve-3d;
    transform: rotateY( 180deg );
    transition: transform .3s;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    position: absolute;
    opacity: 1;
}
.carousel.flip .item:first-child {
    top:auto;
    position:relative;
}
.carousel.flip .item.active {
    transform-style: preserve-3d;
    perspective-origin: center center;
    transform: rotateY( 0deg );
    transition: transform .3s;
    backface-visibility: hidden;

    opacity: 1;
}


/**{
font-family: 'Open Sans', sans-serif;
}*/
@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('../fonts/ProximaNovaT/Regular/ProximaNovaS-Regular.eot'); 
  src: url('../fonts/ProximaNovaT/Regular/ProximaNovaS-Regular.woff2') format('woff2'), 
       url('../fonts/ProximaNovaT/Regular/ProximaNovaS-Regular.woff') format('woff'), 
       url('../fonts/ProximaNovaT/Regular/ProximaNovaS-Regular.ttf')  format('truetype'),
       url('../fonts/ProximaNovaT/Regular/ProximaNovaS-Regular.svg') format('svg'); 
}
@font-face {
  font-family: 'ProximaNovaThin';
  src: url('../fonts/ProximaNovaT/Thin/ProximaNovaT-Thin.eot'); 
  src: url('../fonts/ProximaNovaT/Thin/ProximaNovaT-Thin.woff2') format('woff2'), 
       url('../fonts/ProximaNovaT/Thin/ProximaNovaT-Thin.woff') format('woff'), 
       url('../fonts/ProximaNovaT/Thin/ProximaNovaT-Thin.ttf')  format('truetype'), 
       url('../fonts/ProximaNovaT/Thin/ProximaNovaT-Thin.svg') format('svg'); 
}
@font-face {
  font-family: 'ProximaNovaThinLight';
  src: url('../fonts/ProximaNovaT/ThinItalic/ProximaNova-ThinIt.eot'); 
  src: url('../fonts/ProximaNovaT/ThinItalic/ProximaNova-ThinIt.woff2') format('woff2'), 
       url('../fonts/ProximaNovaT/ThinItalic/ProximaNova-ThinIt.woff') format('woff'), 
       url('../fonts/ProximaNovaT/ThinItalic/ProximaNova-ThinIt.ttf')  format('truetype'), 
       url('../fonts/ProximaNovaT/ThinItalic/ProximaNova-ThinIt.svg') format('svg'); 
}


* {
  font-family: 'ProximaNovaThin', Fallback, Arial;
}

.nav-tabs.nav-justified > li {
  padding-bottom: 0 !important;
}
.nav-tabs.nav-justified > li > a {
  margin-left: 2px ;
  top: 1px;
  border: none;
}
.nav-tabs.nav-justified > li:first-child > a {
  margin-left: 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #F3F4F5;
}
}
.row {
    /*background-color: #F3F4F5;*/
}
.italic-text {
    font-family: 'ProximaNovaThinLight', Fallback, Arial;
    font-style: italic;
}
.regular-text {
    font-family: 'ProximaNovaRegular', Fallback, Arial;
    font-style: normal;
}
.thin-text {
    font-family: 'ProximaNovaThin', Fallback, Arial;
    font-style: normal;
    font-weight: lighter;
}

.col-md-4 {
    background-color: #F3F4F5;
    height: 1000px;
    padding:0;

}
.col-md-5 {
   /* padding:0;*/
    /*max-height: 220px;*/
   /* background-color: #00FF00;*/
}
.col-md-6 {
    /*height: 1000px;*/
   /* padding:0;*/
   /* background-color: #FF0000;*/
}
.col-md-7 {
    /*padding:5;*/
    /*max-height: 220px;*/
   /* background-color: #0000FF;*/
}
.col-md-8 {
    padding:0;
    background-color: #FFFFFF;

}
.textContainer {
   /* padding: 20px;*/

}
h1{
    font-family: 'ProximaNovaThin', Fallback, Arial;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    color: #222;
}
h2{
font-family: 'ProximaNovaThin', Fallback, Arial;
font-size: 50px;
color: #222;
font-weight: normal;
}
h3{
font-family: 'ProximaNovaThin', Fallback, Arial;
font-size: 35px;
color: #72893D;
font-weight: normal;
}
/*.fader-meta div h3{
    position: absolute;
    text-align: center;
    font-size: 0px;
    color: #999999;
    opacity: 0;
}
.fader-meta div h4{
    position: absolute;
    text-align: center;
    font-size: 0px;
    color: #999999;
    opacity: 0;

}

.fader-meta div h3.show{
    position: relative;
    text-align: center;
    font-size: 20px;
    color: #999999;
    opacity: 1;
}
.fader-meta div h4.show{
    position: relative;
    text-align: center;
    font-size: 10px;
    color: #999999;
    opacity: 1;
}


.fader {
    background-color: #000;
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 22
}
.fader ul {
    height: 100%;
    margin: 0;
    padding: 0;
}
.fader li {
    height: 100%;
    margin: 0;
    position: relative;
    list-style: none;
    width: 100%
}
.fader li div img {
    border: medium none;
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 1s ease 0s;
    -moz-transition: opacity 1s ease 0s;
    -o-transition: opacity 1s ease 0s;
    transition: opacity 1s ease 0s;
}
.fader li div img.show {
    opacity: 1;
    width: 100%;
    height: auto;
    position: relative;
}
.fader-pagination {
    bottom: 10px;
    height: 20px;
    left: 0;
    position: relative;
    width: auto
}
.fader-pagination li {
    background-color: #00BF02;
    border-radius: 10px;
    display: inline-block;
    height: 12px;
    margin: 4px;
    padding: 5px;
    position: relative;
    width: 12px;
    cursor: pointer
}
.fader-pagination li:first-child {
    margin: 4px 4px 4px 20px;
}
.fader-pagination li.current {
    background-color: #666
}
.fader-controls {
    bottom: 10px;
    height: 20px;
    position: absolute;
    right: 20px
}
.fader-controls li {
    color: #00BF02;
    display: inline;
    font-size: 1.2em;
    padding: 0 15px;
    position: relative;
    cursor: pointer
}
.fader-controls li:nth-child(3) {
    padding-right: 0
}
.fader-controls li.active {
    color: #666
}
.faderC-play {
    width: 0;
    height: 0;
    margin: 0;
    display: inline-block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 15px solid #00BF02;
    cursor: pointer
}
.faderC-play.active {
    border-left: 15px solid #666
}
.faderC-stop {
    background-color: #00BF02;
    height: 15px;
    margin: 0;
    display: inline-block;
    width: 15px;
    cursor: pointer
}
.faderC-stop.active {
    background-color: #666
}
.faderC-pause {
    background-color: #00BF02;
    height: 15px;
    margin: 0;
    width: 5px;
    cursor: pointer;
    display: inline-block
}
.faderC-pause:after {
    background-color: #00BF02;
    height: 15px;
    margin-left: 3px;
    width: 5px;
    content: "";
    display: block;
    position: relative;
    left: 5px
}
.faderC-pause.active,
.faderC-pause.active:after {
    background-color: #666
}
.faderC-forward {
    border-bottom: 8px solid transparent;
    border-left: 8px solid #00BF02;
    border-top: 8px solid transparent;
    height: 0;
    margin: 0;
    width: 0;
    cursor: pointer;
    display: inline-block
}
.faderC-forward:after {
    border-bottom: 8px solid transparent;
    border-left: 8px solid #00BF02;
    border-top: 8px solid transparent;
    bottom: 8px;
    content: "";
    display: block;
    height: 0;
    margin: 0;
    position: relative;
    right: 0;
    width: 0
}
.faderC-forward.active,
.faderC-forward.active:after {
    border-left: 8px solid #666
}
.faderC-back {
    border-bottom: 8px solid transparent;
    border-right: 8px solid #00BF02;
    border-top: 8px solid transparent;
    height: 0;
    margin: 0;
    width: 0;
    cursor: pointer;
    display: inline-block
}
.faderC-back:after {
    border-bottom: 8px solid transparent;
    border-right: 8px solid #00BF02;
    border-top: 8px solid transparent;
    bottom: 8px;
    content: "";
    display: block;
    height: 0;
    position: relative;
    left: 8px;
    width: 0
}
.faderC-back.active,
.faderC-back.active:after {
    border-right: 8px solid #666
}

@media screen and (max-width: 740px) {

    .fader-pagination {
    	bottom: 2;
    }
    .fader-pagination li {
    	width: 6px;
    	height: 6px;
    }
    .fader-pagination li:first-child {
    	margin: 4px;
    }

    .fader-controls {
    bottom: 20px;
    height: 6px;
    position: absolute;
    right: 15px
    }
    .fader-controls li {
        color: #00BF02;
        display: inline;
        font-size: 1em;
        padding: 0 10px;
        position: relative;
        cursor: pointer
    }

}

*/