<div heading="Presentation">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4 leftContainer">
                                <div class="row">
                                    <div class="col-md-12">
                                       <div>
                                            <h2 >CV Bijan Ajamlou</h2>
                                            <h3> Front-end developer and Interaction designer</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-5" >
                                                <img src="/img/me_150.jpg" alt="picture of me" class="img-responsive">
                                            </div>
                                            <div class="col-md-7 italic-text " >
                                                <span>
                                                    <p>
                                                        PERSONAL DETAILS<br>
                                                        Full name: Bijan Ajamlou<br>
                                                        Nationality: Swedish (born in Iran)<br>
                                                        DOB: 25:04:82<br>
                                                        Address: Bondegatan 21. 2tr<br>
                                                            116 33 Stockholm,<br>
                                                            Sweden<br>
                                                        Mob.: (+0046) 072-164 88 94<br>
                                                        E-Mail: bijan@projectmap.se<br>
                                                    </p>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-12 regular-text">
                                        <h3>Presentation</h3>
                                        <p>
    As an front-end developer I work with SCRUM and are familiar with the latest frameworks and methods. With experience of both front and back end I have a deep understanding of the architecture and can provide my clients with insight on the system level. I am committed to the task and aim to raise the bar of code quality and implementing programing patterns.
    <br><br>
    As an Interaction designer I have specialized in defining the behavior of products and systems that a user can interact with. Through initial research I survey the end-users situated needs. Based on that knowledge and constant world surveillance I can provide my clients with an insight of the future. The future insight is the foundation which I together whit my clients form products, services and brand strategies. Besides my design interest I also love to spend an evening playing boardgames and dancing salsa. 

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8" >
                                <img src="/img/future.jpg" alt="future" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>